[[ -f .envrc.local ]] && source_env .envrc.local

export GO_CODE=~/Code/go-code
export CGO_ENABLED=0
# export GOPACKAGESDRIVER=$GO_CODE/tools/gopackagesdriver.sh
# export PATH=$PATH:$GO_CODE/tools/bin:$GO_CODE/bazel-bin
# export BUILD_WORKSPACE_DIRECTORY=$GO_CODE
